# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
charset = utf-8
indent_size = 4
end_of_line = lf
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

# config files
[*.{ini,yaml,yml}]
indent_size = 2

# Xml project files
[*.{csproj,pyproj,config}]
indent_size = 2

# .NET formatting settings
[*.{cs,vb}]
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = true

[*.cs]
csharp_new_line_before_open_brace = all
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true

# Solution
[*.sln]
indent_style = tab

[*.csproj]
charset = utf-8
insert_final_newline = true

# bumpversion reformats itself after every bump
[.bumpversion.cfg]
trim_trailing_whitespace = false
indent_style = tab
