<!-- Mono DLL map for Python.Runtime.dll

Keep this file next to Python.Runtime.dll

For more information read:
  http://www.mono-project.com/Config
  http://www.mono-project.com/Config_DllMap

-->

<configuration>
	<dllmap dll="python23" target="libpython2.3.so" os="!windows" />
	<dllmap dll="python24" target="libpython2.4.so" os="!windows" />
	<dllmap dll="python25" target="libpython2.5.so" os="!windows" />
	<dllmap dll="python26" target="libpython2.6.so" os="!windows" />
	<dllmap dll="python27" target="libpython2.7.so" os="!windows" />
	<dllmap dll="python32" target="libpython3.2.so" os="!windows" />
	<dllmap dll="python33" target="libpython3.3.so" os="!windows" />
	<dllmap dll="python34" target="libpython3.4.so" os="!windows" />
	<dllmap dll="python23.dll" target="libpython2.3.so" os="!windows" />
	<dllmap dll="python24.dll" target="libpython2.4.so" os="!windows" />
	<dllmap dll="python25.dll" target="libpython2.5.so" os="!windows" />
	<dllmap dll="python26.dll" target="libpython2.6.so" os="!windows" />
	<dllmap dll="python27.dll" target="libpython2.7.so" os="!windows" />
	<dllmap dll="python32.dll" target="libpython3.2.so" os="!windows" />
	<dllmap dll="python33.dll" target="libpython3.3.so" os="!windows" />
	<dllmap dll="python34.dll" target="libpython3.4.so" os="!windows" />
</configuration>

