# Requirements for both Travis and AppVeyor
pytest
coverage

# Coverage upload
codecov

# Platform specific requirements
pip; sys_platform == 'win32'
wheel; sys_platform == 'win32'
pycparser; sys_platform != 'win32'
