<!-- Mono DLL map for Python.Runtime.dll

Keep this file next to Python.Runtime.dll

For more information read:
  http://www.mono-project.com/Config
  http://www.mono-project.com/Config_DllMap

-->

<configuration>
	<dllmap dll="python23" target="/usr/lib/libpython2.3.dylib" os="!windows" />
	<dllmap dll="python24" target="/usr/lib/libpython2.4.dylib" os="!windows" />
	<dllmap dll="python25" target="/usr/lib/libpython2.5.dylib" os="!windows" />
	<dllmap dll="python26" target="/usr/lib/libpython2.6.dylib" os="!windows" />
	<dllmap dll="python23.dll" target="/usr/lib/libpython2.3.dylib" os="!windows" />
	<dllmap dll="python24.dll" target="/usr/lib/libpython2.4.dylib" os="!windows" />
	<dllmap dll="python25.dll" target="/usr/lib/libpython2.5.dylib" os="!windows" />
	<dllmap dll="python26.dll" target="/usr/lib/libpython2.6.dylib" os="!windows" />
</configuration>

