sphinx

# Theme, force pygments update
furo>=2025.12.19
pygments>=2.20.0

# C# via doxygen
breathe
git+https://github.com/rogerbarton/sphinx-csharp.git

# Dependency of pythonnet, needed for autodocs
clr_loader
